//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8
//Part Number: GW1NR-LV9QN88C6/I5
//Device: GW1NR-9
//Created Time: Thu 01 06 22:29:13 2022

IO_LOC "o_q[6]" 17;
IO_PORT "o_q[6]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "o_q[5]" 33;
IO_PORT "o_q[5]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "o_q[4]" 31;
IO_PORT "o_q[4]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "o_q[3]" 29;
IO_PORT "o_q[3]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "o_q[2]" 27;
IO_PORT "o_q[2]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "o_q[1]" 25;
IO_PORT "o_q[1]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_LOC "o_q[0]" 19;
IO_PORT "o_q[0]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8;
IO_PORT "o_lvds_clk" IO_TYPE=LVDS25E;
IO_LOC "o_clk" 37;
IO_PORT "o_clk" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "o_led[7]" 79;
IO_PORT "o_led[7]" PULL_MODE=UP DRIVE=8;
IO_LOC "o_led[6]" 80;
IO_PORT "o_led[6]" PULL_MODE=UP DRIVE=8;
IO_LOC "o_led[5]" 81;
IO_PORT "o_led[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "o_led[4]" 82;
IO_PORT "o_led[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "o_led[3]" 83;
IO_PORT "o_led[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "o_led[2]" 84;
IO_PORT "o_led[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "o_led[1]" 85;
IO_PORT "o_led[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "o_led[0]" 86;
IO_PORT "o_led[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "i_resetn" 77;
IO_PORT "i_resetn" PULL_MODE=UP;
IO_LOC "i_clk" 63;
IO_PORT "i_clk" IO_TYPE=LVTTL33 PULL_MODE=UP;
